.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/924b5a7bc7c027086bd0a71f9cdf54f86296f25d31a3cb27a5b77fd3b1e2f9feae0029ef25089bb247d1773b66cc376b2a5611296e43f17865c47c_1280.jpg");
  background-position: 50% 50%;
  min-height: 624px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 624px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 1px 8px 11px;
}

.u-section-1 .u-text-1 {
  margin: 97px 44px 0;
}

.u-section-1 .u-list-1 {
  width: 489px;
  margin: 18px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 394px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 474px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-image-1 {
    min-height: 816px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 523px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-1 .u-image-1 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-image-1 {
    min-height: 385px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-1 .u-list-1 {
    width: 329px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }
}

.u-block-b029-42:not([data-block-selected]):not([data-cell-selected]),
.u-block-b029-42:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-b029-42:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-b029-42:not([data-block-selected]):not([data-cell-selected]).u-block-b029-42:not([data-block-selected]):not([data-cell-selected]).u-block-b029-42:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-b029-42:not([data-block-selected]):not([data-cell-selected]).u-block-b029-42:not([data-block-selected]):not([data-cell-selected]).u-block-b029-42:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-b029-42:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-b029-42:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 92px;
}