* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  letter-spacing: 0.2em;
}

/*   header関連   */
header {
  width: 100%;
  padding: 5px 1.5%;
  position: sticky;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.header-nav {
  margin: 0 0 0 auto;
}

.header-ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}

.header-li {
  margin: 0 0 0 20px;
  font-size: 14px;
}

/*   main関連   */
a {
  text-decoration: none;
  color: #4b4b4b;
}

.main-div {
  height: 100vh;
  padding: 0;
}

.main-h2 {
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
}

/*   footer関連   */
footer {
  padding: auto;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-nav {
  margin: 0 auto;
}

.footer-ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}

.footer-li {
  margin: 0 0 0 15px;
  font-size: 14px;
}