* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  letter-spacing: 0.2em;
}

/*   header関連   */
header {
  padding: 30px 4% 15px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 25px;
}

.header-nav {
  margin: 0 0 0 auto;
}

.header-ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}

.header-li {
  margin: 0 0 0 20px;
  font-size: 14px;
}

/*   main関連   */
a {
  text-decoration: none;
  color: #4b4b4b;
}

.main-div {
  padding: 80px 10% 80%;
  justify-content: start;
  height: 200vh;
}

.main-ul {
  display: flex;
  align-items: center;
  list-style: none;
  list-style-type: none;
  padding-left: 0px;
}

img {
  padding: 0 4% 0;
  max-width: 100%;
  height: auto;
  list-style-type: none;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 0px;
}

.main-h2 {
  margin: 10% 0 10% 0;
  font-size: 30px;
  font-weight: normal;
  color: #000000;
}

/*   footer関連   */
footer {
  padding: 75px 10%;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-nav {
  margin: 0 auto;
}

.footer-ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}

.footer-li {
  margin: 0 0 0 15px;
  font-size: 14px;
}